<h1>All Auctions</h1>

<table id="auction_grid">
	<% @auction.in_groups_of(3,false) do |row_auctions| %>
		<tr>
			<% for auction in row_auctions %>
				<td>
					<div class="auction_tile">
						<%= auction.title %><br />
						<%= auction.description %>
						<%= link_to image_tag(auction.photo.url(:small)), auction %>
					</div>
				</tdv>
			<% end %>
		</tr>
	<% end %>
</table>

<%= button_to "New Auction", new_auction_path, :method => :get %>

								
				
		